body{
  background-color: #282828;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.pokemon_card {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin: 20px;
  cursor: pointer;
}

.pokemon_card:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6);
  transform: scale(1.2);
}

.pokemon_card img {
  height: 100%;
}

.pokemon_nr {
  margin-bottom: 10px;
  margin-top: -60px;
}

.pokemon_nr p {
  margin: 0px;
}

.pokemon_name {
  margin-bottom: 10px;
}

.pokemon_name h3 {
  margin: 0;
}

.pokemon_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.pokemon_0_element {
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
}

.pokemon_1_element {
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
}

.input {
  margin-top: 20px;
  width: 100%;
}

.custom_input {
  width: 100%;
}
