header img {
  height: 60px;
}

.pokemon_img {
  height: 120px;
  top: -60px;
  position: relative;
}

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.input {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  width: 100%;
  padding-right: 10px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 0px solid #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.6s ease;
}

.input:focus {
  background: #f2f2f2;
  border: 0px solid #ffffff;
  border-radius: 10px;
}

.input::placeholder {
  color: #7f7f7f;
}

.custom_input img {
  height: 10px;
}

.load_button img {
  width: 52px;
  border-radius: 50%;
}
