.detailinformation {
  background-color: #202020;
  max-width: 540px;
}

.detailinformation_upper_half {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 40vh;
}

.detail_sprite img {
  height: 24vh;
}

.detail_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.detail_name img {
  height: 3vh;
  cursor: pointer;
}

.detailinformation_lower_half {
  min-height: 40vh;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.detail_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
}

.detail_menu :hover {
  text-decoration: underline;
  cursor: pointer;
}

.detail_container {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.detail_pack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}

.detail_pack_sprites {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.detail_pack_sprites img {
  width: 49%;
}

.detail_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.breeding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}

.detail_breeding_value img {
  height: 16px;
}

.detail_pack_stats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.detail_keys_stat {
  width: 67px;
}

.detail_value_stat {
  width: 41px;
}

.color_white {
  color: white;
}

@media (max-width: 600px) {
  .detailinformation {
    width: 100vw;
    font-size: 14px;
  }
}
