body {
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.d-none {
  display: none !important;
}
