.normal{
    background-color:#B3986C;
}

.fighting{
    background-color:#FC6465;
}

.flying{
    background-color:#848CCB;
}

.poison{
    background-color:#B562A3;
}

.ground{
    background-color:#E9B366;
}

.rock{
    background-color:#AAA064;
}

.bug{
    background-color:#97AB40;
}

.ghost{
    background-color:#846D99;
}

.steel{
    background-color:#8DB4C0;
}

.fire{
    background-color:#FB7950;
}

.water{
    background-color:#4FC7DC;
}

.grass{
    background-color:#79C85C;
}

.electric{
    background-color:#FCC80D;
}

.psychic{
    background-color:#FE638C;
}

.ice{
    background-color:#6FDCD3;
}

.dragon{
    background-color:#5A67A4;
}

.dark{
    background-color:#5B4F4F;
}

.fairy{
    background-color:#FF77AD;
}